---
import Icon from './Icon.astro';
---
<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Full-Stack Development</h2>
		<p>Expert in building robust web applications with technologies like HTML, CSS, JavaScript, React, PHP, and Laravel.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="pencil-line" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Creative Web Design</h2>
		<p>Designing engaging, user-centric websites using modern tools like WordPress, Shopify, and UI/UX principles.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="chart-line" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>SEO & Digital Strategy</h2>
		<p>Optimizing website performance, improving visibility, and driving growth through tailored SEO strategies.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Operations Leadership</h2>
		<p>Experienced in managing teams and streamlining operations to boost productivity and achieve business goals.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="briefcase" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Founder of Good Outsource</h2>
		<p>
			Leading a Virtual Assistant agency to deliver top-tier support services. 
			<a href="https://goodoutsource.com/" target="_blank" style="color: var(--accent-regular);">Learn more</a>.
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="heart" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Passion for Innovation</h2>
		<p>Combining technology, creativity, and strategy to deliver solutions that solve problems and create impact.</p>
	</div>
</section>


<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
